asn1crypto==0.24.0
cffi==1.11.5
Click==7.0
cryptography==2.4.2
enum34==1.1.6
Flask==1.0.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
idna==2.7
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10
Markdown==3.1
MarkupSafe==1.1.0
pycparser==2.19
PyMySQL==0.9.2
six==1.11.0
SQLAlchemy==1.2.14
Werkzeug==0.15.5
