{% extends 'base.html' %}

{% block photo %}
    style="background: url(../static/img/header.jpg);
{% endblock photo %}

{% block title %}
<h1 class="text-center" style="color: white;font-size: 60px; padding-top: 116px">TF'S BLOG</h1>
{% endblock title %}

{% block content %}
    <div class="text-center" style="">
        <div style="padding-left: 322.6px;padding-right: 322.6px">
        <a href="#">
            <div class="post-card-container" style="background-image: url(../static/img/header.jpg);">
                <h2>title</h2>
                <br>
                <span>第一篇文章</span>
            </div>
        </a>
        </div>
    </div>
{% endblock content %}