{% extends 'base.html' %}

{% block links %}
    <script src="/static/js/my.js"></script>
{% endblock links %}

{% block style %}
    container-fluaid{
        background-color: #3B3F45;
    }
    body{
        background-color: #2c2a2a;
    }
    a.link{
        color: #83c200;font-size: 16px
    }
    input{
        height: 2rem;
        line-height: 1rem;
        display: inline-block;
        padding: .438rem .525rem;
        border: 0;
        width: 200%;
        height: 35px;
        border-radius: .3125rem;
        background: #343232b3;
        color: #fff;
    }
{% endblock style %}

{% block photo %}
    background: url(../static/img/big-home.jpg) center;
{% endblock photo %}

{% block head_right %}

    <div class="input-group col-md-3" style="margin-top:0px positon:relative">
        <form style="display: flex;" method="get" action="/search">
           <input type="text" class="form-control" placeholder="请输入关键字" name="keyword"
                  style="background: rgba(255,255,255,0.08)"/>
            <span class="input-group-btn">
               <button class="btn btn-info btn-search" type="submit">搜索</button>
            </span>
        </form>
     </div>
{% endblock head_right %}

{% block title %}
<h1 class="text-center" style="color: white;font-family: 'Arial Black'; font-size: 60px; padding-top: 90px;margin-bottom: 30px">TF'S BLOG</h1> <br>
{% endblock title %}

{% block content %}
<div class="container-fluid" style="background-color: #2c2a2a69;padding-top: 70px;padding-bottom: 80px;">
    <div class="text-center" >
        <div id="firstpage" class="firstpage center" >         <!--首页默认文章列表的文章卡片-->
                {% if lenth != 0 %}
                    {% for i in range(lenth) %}
                            <a class="text-center" href="/post/{{ user_Post[i].Publish_Date.year }}/{{ user_Post[i].Publish_Date.month }}/{{ user_Post[i].Id }}" style="text-decoration: none;">
                                <div class="post-card-container" style="background-image: url(../static/Upload_Files/article/{{ user_Post[i].Dir_Name }}/{{ user_Post[i].Cover_Picture_Name }});">
                                    <h2 class="posttitle">{{ user_Post[i].Title }}</h2>
                                    <br>
                                    <div class="col-md-12">
                                        <span>{{ user_Post[i].Publish_Date }}</span>
                                        <span style="font-weight: 500">•</span>
                                        {% if user_Post[i].tags != None  %}
                                            {% for i in user_Post[i].tags %}
                                                <a href="/tag/{{ i.Id }}" style="text-decoration: none"><span class="tag-text">{{ i.Title }}</span></a>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
{#                        </div>#}
                        <br>
                        <br>
                    {% endfor %}
                {% else %}
                {% endif %}
        </div>
    </div>
<!--分页按钮-->
    {% if pagination.pages >= 1 %}
        <div class="post-select">
            <div class="row">
                <div class="col-md-12 text-center">
                    <select id="pages" style="margin-bottom: 80px;width: 130px;height: 40px;border-radius:9px;">
                        {% for i in range(pagination.pages) %}
                            <option value="{{ i+1 }}" >第{{ i+1 }}页</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    {% endif %}

<!--文章卡片分页显示的模板html,用于后面ajax分页生成新文章卡片页面-->
    <div id="copy" style="visibility: hidden; display: none">
            <a href="#" id="Href" style="text-decoration: none;">
                <div class="post-card-container" id="img_url" style="background-image: url();">
                    <h2 class="posttitle" id="title"></h2>
                    <br>
                    <span id="date"></span>

                </div>
            </a>
        <br>
        <br>
    </div>

    <script>
        $("#pages").change(function(){

            var opt=$("#pages").val();
            var data = {};
            data['page'] = opt;
            $.ajax({								// 提交POST请求给后端
                type: 'POST',
                url: '/',
                data: data,
                dataType: 'json',
                success: function (data) {
                    document.getElementById('firstpage').innerHTML="";          // 将默认的第一页清空
                    for(var j =0;j<data.objects.length;j++){            // 循环产生新的订单列表,data.objects是后端返回的json
                        var firstpage = document.getElementById("firstpage");
                        // 根据后端数据构造文章卡片中的背景url和超链接Href变量
                        var url = "url(../static/Upload_Files/article/"
                            + data.objects[j].Dir_Name + "/" + data.objects[j].Cover_Picture_Name +")";
                        var Href = "/post/"+ data.objects[j].Publish_year
                            +"/"+data.objects[j].Publish_month+"/"+data.objects[j].Id;
                        // 将事先定义好的id为copy的div中的元素的值进行替换，构造文章卡片的html
                        
                        $("#img_url").css("background-image", url);
                        $("#Href").attr("href", Href);
                        $("#title").text(data.objects[j].Title);
                        $("#date").text(data.objects[j].Publish_Date);
                        $("#tag").text(data.objects[j].Title);


                        var copy = document.getElementById("copy");
                        var mid = copy.innerHTML;
                        mid = mid.replace(/id/g, '');


                        var new_post=document.createElement("post");
                        new_post.innerHTML=mid;

                        firstpage.appendChild(new_post);             // 将新产生的订单列表添加到清空了的firstpage中
                    }
                },
                error: function () {
                }
            })

        });
    </script>
    <script>
        function funcon() {

        }
        function funcout(){

        }


    </script>
</div>
{% endblock content %}

{#{% block link %}#}
{#{% endblock link %}#}

{% block right_side %}
    <div class="container-fluid" style="background-color: #2c2a2aad;position: relative;overflow:hidden">
        <br>
        <!--头像-->
        <div class="row align-items-center" style="padding-left: 10px">
            <img src="/static/img/logo.jpg" style="width: 70px;height: 70px;border-radius:40px">
            <h4 style="color: white;padding-left: 10px;">Ryan </h4>
        </div>
        <!--格言-->
        <div class="row" style="padding-left: 10px">
            <i class="" style="color: #b5b5b5;font-size: 18px;margin-top: 10px;margin-bottom: 0px; padding-bottom: 10px ">海到无边天作岸，山登绝顶我为峰</i>
        </div>
        <!--标签云-->
        <div class="right-module">
            <h5 style="color: white">标签云</h5><hr class="faded">
            <br>
            {% for tag in index_tag %}
                <label style="margin: 4px"><a href="/tag/{{ tag.Id }}" class="tag">{{ tag.Title }}</a></label>
            {% endfor %}
        </div>
        <!--友情链接-->
        <div class="right-module" >
            <h5 style="color: white">友情链接</h5><hr class="faded">
            <br>
            <a class="link" href="http://git.careyou.xin">• MyGitHub</a><br>
            <a class="link" href="http://www.daoink.com" >• 袋鼠共享打印</a><br>
            <a class="link" href="https://me.csdn.net/ha_weii">• Minz的博客</a><br>
            <a class="link" href="https://me.csdn.net/salove_y">• 携手凡生的博客</a><br>
            <a class="link" href="http://blog.51cto.com/anfishr">• 一百个小排的博客</a><br>
            <a href="/addurl" class="icon" style="color: #d4237a;"><img src="/static/font/addurl.png" class="" style="width: 25px;height: 25px">互加友链</a>
            <div class="text-center"><a href="#" class="icon"><img src="/static/font/more2.png" class="" style="width: 30px;height: 15px">更多</a></div>

        </div>
        <!--站点信息-->
        <div class="right-module">
            <h5 style="color: white">站点信息</h5><hr class="faded">
            <br>
            <span class="list">• 文章总数：</span><span style="color: #e1e1e1">{{ website_info['articles_count'] }}</span><br>
            <span class="list">• 访问总数：</span><span style="color: #e1e1e1">{{ website_info['all_access'] }}</span><br>
            <span class="list">• 运行时长：</span><label id="lengthtime" style="color: #e1e1e1"">
            <script type="text/javascript">showlentime();</script>
            </label><br>
        </div>

    </div>
{% endblock right_side %}
