{% extends 'base.html' %}

{% block style %}
    p{
    font-family: Arial, '华文中宋';
    font-size: 18px;
    line-height: 38px;
    }
    .message-card-container{
    width: 689px;
    margin-right: auto;
    margin-left: auto;
    }
    .text-area{
    display: inline-block;
    padding: .438rem .525rem;
    border: 0;
    border-radius: .3125rem;
    background: #343232;
    color: #fff;
    overflow-y: visible;
    margin-top: .625rem;
    width: 100%;
    height: 100px;
    vertical-align: top;
    resize: none;
    }



{% endblock style %}

{% block photo %}
    background: url(../static/img/header2.jpg) center;
{% endblock photo %}

{% block title %}
    <h1 class="text-center" style="color: white;font-size: 60px; padding-top: 116px; padding-bottom: 116px; margin-bottom: 0px">管理员控制中心</h1>
{% endblock title %}

{% block content %}
    <div class="container-fluid" style="background-color: #2c2a2a; padding-bottom: 100px">
        <!--flash消息-->
        <div class="message-card-container">
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" style="color: orangered; font-size: 60%; font-weight: 600">&times;关闭</span></button>
                                <div class="text-center" style="font-weight: 600">{{ message }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

            </div>
        </div>
        <!--功能模块图标-->
        <br>
        <br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="function-card center">
                        <div class="row center">
                            <a href="/logout">
                                <img src="/static/font/log-out.svg" style="width: 170px;height: 170px">
                            </a>
                        </div>

                        <div class="row center">
                            <br>
                            <label style="color: #b0b0b0">登出控制台</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="function-card center">
                        <div class="row center">
                            <a href="/writer/1">
                                <img src="/static/font/ios-create.svg" style="width: 170px;height: 170px">
                            </a>
                        </div>
                        <div class="row center">
                            <br>
                            <label style="color: #b0b0b0">添加新文章</label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="function-card center">
                        <div class="row center">
                            <a href="/#">
                                <img src="/static/font/control.svg" style="width: 170px;height: 170px">
                            </a>
                        </div>
                        <div class="row center">
                            <br>
                            <label style="color: #b0b0b0">管理历史文章</label>
                        </div>
                    </div>
                </div>
            </div>



    </div>
{% endblock content %}