{% extends 'base.html' %}
{% block style %}
{% endblock style %}

{% block photo %}
    background: url(../static/img/header.jpg) center;
{% endblock photo %}

{% block title %}
    <h1 class="text-center" style="color: white;font-size: 60px; padding-top: 116px; padding-bottom: 116px; margin-bottom: 0px">{{ title }}</h1>
{% endblock title %}

{% block content %}
<div class="container-fluid" style="background-color: #3B3F45;padding-top: 70px;padding-bottom: 80px;">
    <div class="text-center" >
        <div id="firstpage">
            {% if lenth != 0 %}
                {% for i in range(lenth) %}
{#                    <div style="padding-left: 322.6px;padding-right: 322.6px">#}
                        <a href="/post/{{ user_Post[i].Publish_Date.year }}/{{ user_Post[i].Publish_Date.month }}/{{ user_Post[i].Id }}" style="text-decoration: none;">
                            <div class="post-card-container" style="background-image: url(../static/Upload_Files/img/{{ user_Post[i].Cover_Picture_Name }});">
                                <h2 class="posttitle">{{ user_Post[i].Title }}</h2>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span>{{ user_Post[i].Publish_Date }}</span>
                                        <span style="font-weight: 500">•</span>
                                        {% if user_Post[i].tags != None  %}
                                            {% for i in user_Post[i].tags %}
                                                <span>{{ i.Title }}</span>
                                            {% endfor %}
                                        {% endif %}
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </a>
{#                    </div>#}
                    <br>
                    <br>
                {% endfor %}
            {% else %}

            {% endif %}
        </div>
    </div>

    {% if pagination.pages >= 1 %}
        <div align="center">
            <select id="pages" style="margin-bottom: 80px;width: 130px;height: 40px;border-radius:9px;">
                {% for i in range(pagination.pages) %}
                    <option value="{{ i+1 }}" >第{{ i+1 }}页</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}

    <div id="copy" style="visibility: hidden; display: none">
{#        <div style="padding-left: 322.6px;padding-right: 322.6px">#}
            <a href="#" id="Href" style="text-decoration: none;">
                <div class="post-card-container" id="img_url" style="background-image: url(../static/img/header.jpg);">
                    <h2 class="posttitle" id="title"></h2>
                    <br>
                    <span id="date"></span>
                    <span id="tag"></span>
                </div>
            </a>
{#        </div>#}
        <br>
        <br>
    </div>

    <script>
        $("#pages").change(function(){
            var opt=$("#pages").val();
            var data = {};
            data['page'] = opt;
            $.ajax({								// 提交POST请求给后端
                type: 'POST',
                url: '/',
                data: data,
                dataType: 'json',
                success: function (data) {
                    document.getElementById('firstpage').innerHTML="";          // 将默认的第一页清空
                    for(var j =0;j<data.objects.length;j++){            // 循环产生新的订单列表
                        var firstpage = document.getElementById("firstpage");

                        var url = "url(../static/Upload_Files/img/" + data.objects[j].Cover_Picture_Name +")";
                        var Href = "/post/"+ data.objects[j].Publish_year+"/"+data.objects[j].Publish_month+"/"+data.objects[j].Id;
                        $("#img_url").css("background-image", url);
                        $("#title").text(data.objects[j].Title);
                        $("#date").text(data.objects[j].Publish_Date);
                        $("#Href").attr("href", Href);


                        var copy = document.getElementById("copy");
                        var mid = copy.innerHTML;
                        mid = mid.replace(/id/g, '');

                        var new_post=document.createElement("tag");
                        new_post.innerHTML=mid;

                        firstpage.appendChild(new_post);             // 将新产生的订单列表添加到清空了的firstpage中
                    }
                },
                error: function () {
                }
            })

        });
    </script>
</div>
{% endblock content %}