<article itemscope="" itemtype="http://schema.org/BlogPosting" class="">
    <div class="display-none" itemscope="" itemprop="author" itemtype="http://schema.org/Person">
        <meta itemprop="name" content="Vins0n">
        <meta itemprop="url" content="http://www.pwfee.com">
    </div>
    <div class="display-none" itemscope="" itemprop="publisher" itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="Vins0n">
        <div itemscope="" itemprop="logo" itemtype="http://schema.org/ImageObject">
            <meta itemprop="url" content="https://secure.gravatar.com/avatar/a969303c93f1fc8454a218fb20ae177e?s=50&amp;r=G&amp;d=">
        </div>
    </div>
    <meta itemprop="url mainEntityOfPage" content="https://pwfee.com/2018/09/study-abroad">
    <meta itemprop="dateModified" content="2018-09-30T15:58:16+00:00">

    <a href="https://pwfee.com/2018/09/study-abroad">
        <div class="post-card" id="post-card-611">
            <div class="blog-background" style="background-image: url(&quot;http://cdn.pwfee.com/IMG_20180812_062443.jpg?imageView2/2/w/1055/q/75&quot;);"></div>

            <script type="text/javascript">registLoadBanner();</script>
            <meta itemprop="image" content="http://cdn.pwfee.com/IMG_20180812_062443.jpg">
            <meta itemprop="thumbnailUrl" content="http://cdn.pwfee.com/IMG_20180812_062443.jpg?imageView2/2/w/320/q/75">


            <div class="post-card-mask">
                <div class="post-card-container">
                    <h2 class="post-card-title" itemprop="headline">终于，我成为了留学生（一）</h2>
                    <div class="post-card-info">
                        <span itemprop="datePublished" content="2018-09-30T10:56:00+00:00">2018 年 09 月 30 日 • </span>
                        <span>生活, 留学</span>
                    </div>
                </div>
            </div>
        </div>
    </a>
</article>