{% extends 'base.html' %}

{% block style %}
    p{
    font-family: Arial, '华文中宋';
    font-size: 18px;
    line-height: 38px;
    }
    .message-card-container{
    width: 689px;
    margin-right: auto;
    margin-left: auto;
    }
    input{
    height: 2rem;
    line-height: 1rem;
    display: inline-block;
    padding: .438rem .525rem;
    border: 0;
    width: 226px;
    height: 35px;
    border-radius: .3125rem;
    background: #343232;
    color: #fff;
    }
    .text-area{
    display: inline-block;
    padding: .438rem .525rem;
    border: 0;
    border-radius: .3125rem;
    background: #343232;
    color: #fff;
    overflow-y: visible;
    margin-top: .625rem;
    width: 100%;
    height: 100px;
    vertical-align: top;
    resize: none;
    }
    .mysubmit{
    cursor: pointer;
    /* background: #343232 repeating-linear-gradient(-45deg,#2c2a2a,#2c2a2a 1.125rem,transparent 1.125rem,transparent 2.25rem); */
    color: #9e9e9e;
    width: 689px;
    border: .0625rem solid #c8c8c8;
    margin: 0 auto;
    border-radius: .3125rem;
    display: block;
    padding: 0 1rem;
    height: 2.2rem;
    font-weight: 500;
    font-family: inherit;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    }
{% endblock style %}

{% block photo %}
    background: url(../static/img/header2.jpg) center;
{% endblock photo %}

{% block title %}
    <h1 class="text-center" style="color: white;font-size: 60px; padding-top: 116px; padding-bottom: 116px; margin-bottom: 0px">作者主页</h1>
{% endblock title %}

{% block content %}
        <div class="container-fluid" style="background-color: #2c2a2a; padding-bottom: 100px">
            <br>
            <br>
            <div class="message-card-container">
                <div>
                    <h4 style="color: #1abc9c">添加新文章</h4>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="title" placeholder="标题" required="required">
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="tag" required="required" style="width: 452px" placeholder="标签 (多个标签用空格隔开)">
                        </div>
                    </div>
                    <br>
                    <div>
                        <label style="color: #1abc9c;">封面图 ：</label> <input type="file" name="cover" required="required">
                    </div>
                    <div>
                        <label style="color: #1abc9c;">markdown文档 ：</label> <input type="file" name="markdown" required="required">
                    </div>
                    <div>
                        <label style="color: #1abc9c;">背景音乐(可选) ：</label> <input type="file" name="music">
                    </div>

                    <br>
                    <br>
                    <input type="submit" value="提交" class="mysubmit" id="submit" onmouseover="comein()" onmouseout="goout()" style="">
                </form>
                <br>
                <div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" style="color: orangered; font-size: 60%; font-weight: 600">&times;关闭</span></button>
                                    <div class="text-center" style="font-weight: 600">{{ message }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                </div>
            </div>
            <div class="message-card-container">

            </div>
        </div>
        <script>
            function comein() {
                $("#submit").css("color", "#1abc9c");
            }
            function goout() {
                $("#submit").css("color", "#9e9e9e");
            }
        </script>
{% endblock content %}
